
<%= render "form", cargo: @cargo %>




<div class="card-footer">
      <div class="d-flex justify-content-center">
        <div class="mr-3"><%= link_to "Exibir", @cargo, class: "btn btn-primary" %></div>
        <%= link_to "Voltar", cargos_path, class: "btn btn-secondary" %>
      </div>
</div>