<h1>Bem-vindo à Página Inicial</h1>

<div class="shortcuts">
  <%= link_to 'Funcionários', funcionarios_path, class: 'btn btn-primary' %>
  <%= link_to 'Cargos', cargos_path, class: 'btn btn-primary' %>
  <%= link_to 'Departamentos', departamentos_path, class: 'btn btn-primary' %>
</div>
