.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Faz a altura ocupar a tela inteira */
    background-color: #f8f9fa; /* Cor de fundo da página */
    
  }
  
  .login-form {
    background-color: #ffffff; /* Cor de fundo do formulário */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil ao redor do formulário */
    width: 100%;
    max-width: 400px; /* Largura máxima do formulário */
  }
  
  .form-inputs {
    margin-bottom: 20px;
  }
  
  .form-inputs .form-control {
    border-radius: 4px;
    padding: 10px;
  }
  
  .form-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  input[type="email"], [type="password"], [type="remember_me"]{
    font-size: 12pt;
    border-radius: 2px; /* Arredondar os cantos */
    padding: 5px; /* Espaçamento interno */
    margin-left: 1rem;
    margin-bottom: 1rem;
  }
  
  
  .form-actions .btn {
    width: 100%;
    padding: 20px;
    background-color: #007bff; /* Cor do botão */
    color: white;
    border: none;
    border-radius: 4px;
  }
  
  .form-actions .btn:hover {
    background-color: #0056b3; /* Cor do botão ao passar o mouse */
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  